body {background: #f5f5d5;}
.title {text-align: center;}
.content {width: 1000px;margin: 0 auto;}
.content p {text-indent: 2em;}
.code-hightlight {padding-left: 2em;}
.btn-back {position:absolute;top: 0.67em;left: 0.67em}